{{#paper-toolbar class='md-toolbar-fixed'}}
  {{#paper-toolbar-tools}}
    <div class='layout-row layout-align-center-center flex'>
      {{scroll-to href='#our-wedding' label='Our Wedding' offset=-64 title='Our Wedding'}}
      {{scroll-to href='#the-venue' label='The Venue' offset=-64 title='The Venue'}}
      {{scroll-to href='#where-to-stay' label='Where to Stay' offset=-64 title='Where to Stay'}}
      {{scroll-to href='#welcome-reception' label='Welcome Reception' offset=-64 title='Welcome Reception'}}
      {{scroll-to href='#what-to-do' label='What to Do' offset=-64 title='What to Do'}}
    </div>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

<div class='hero js-hero'>
  <div class='hero-body'>
    <div class='md-padding'>
      <div class='hero-body-info'>
        <div class='hero-body-info-tint'></div>
        <div class='hero-body-info-content'>
          <h1 class='hero-body-info-content-headline md-display-4'>
            Chris & Amanda
          </h1>
          <h2 class='hero-body-info-content-title md-display-3'>
            Join us June 30, 2018
          </h2>
          <div class='hero-body-info-content-countdown md-headline'>
            {{countdown-string startDate='6/30/2018' interval=1000}}
          </div>
        </div>
      </div>
    </div>
    <div>
      {{#paper-button onClick=(action scrollToOurWeddingAnchor) raised=true primary=true}}
        More Wedding Details
      {{/paper-button}}
    </div>
  </div>
</div>

<div class='images'>
  {{#paper-grid-list
    cols="5 gt-sm-10"
    rowHeight="1:1"
    gutter="2px" as |grid|}}

    {{#photo-swipe items=images as |img|}}
      {{#grid.tile rowspan=1 colspan=1}}
        <img src={{img.src}} title={{img.title}} alt={{img.title}} />
      {{/grid.tile}}
    {{/photo-swipe}}

  {{/paper-grid-list}}
</div>

{{#paper-content class='wedding layout-column'}}
  <section id='our-wedding' class='wedding-section'>
    <div class='wedding-section-content'>
      <div class='md-display-3 u-Satisfy'>
        Our Wedding
      </div>
      {{#paper-list}}
        {{#paper-item}}
          <div class='layout-column'>
            <div class='md-headline'>Time, Date, & Arrival</div>
            <div class='md-subhead-1'>
              Ceremony begins at 4:30 PM on June 30, 2018. <span class='u-bold'>Please arrive at 4 PM</span>.
            </div>
          </div>
        {{/paper-item}}
        {{#paper-item}}
          <div class='layout-column'>
            <div class='md-headline'>Transportation</div>
            <div class='md-subhead-1'>
              We will be providing 2 35-person shuttles to & from
              Cloverdale, CA/Hopland, CA & the wedding venue.
            </div>
            <div class='md-body-1'>
              <i>
                <span class='u-bold'>Note for those driving</span>:
                There is plenty of parking at the site & we will be
                providing a ~5 minute shuttle ride from the parking area directly
                to/from the venue.
              </i>
            </div>
          </div>
        {{/paper-item}}
        {{#paper-item}}
          <div class='layout-column'>
            <div class='md-headline'>Weather</div>
            <div class='md-subhead-1'>
              This is an outdoor wedding & we expect it to be toasty (in the upper 80s).
              There will be plenty of refreshments (especially beer) & a large
              tent to keep you cool. Bring your sunglasses, deoderant,
              & beach towel (just kidding). Don't worry, it should cool off
              around dinner, & by dancing it will be perfect. Brace yourselves, summer is coming.
            </div>
          </div>
        {{/paper-item}}
      {{/paper-list}}
    </div>
  </section>

  <section id='the-venue' class='wedding-section'>
    <div class='wedding-section-content'>
      <div class='layout-row layout-wrap'>
        <div class='flex-100 flex-gt-xs-50'>
          <div class='md-display-3 u-Satisfy'>The Venue</div>
          <div class='md-headline'>
            <a href='http://www.brutocaoschoolhouseplaza.com/contento-vineyard-site.html' title='Contento Vineyard' target='_blank' rel='noopener noreferrer'>Contento Vineyard</a> - Hopland, CA
          </div>
          <div class='md-subhead-1'>
            <a href='https://goo.gl/maps/5UsUkJmexdP2' title='Contento Vineyard Wedding location' target='_blank' rel='noopener noreferrer'>
              Old Toll Rd, Hopland, CA 95449
            </a>
          </div>
        </div>
        <div class='flex-100 flex-gt-xs-50 wedding-section-content-map'>
          <iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3101.7047570965246!2d-123.07261348421814!3d38.97640907955866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8083e271a00e454d%3A0xec03424516d3a239!2sEntrance+to+Brutocao+Winery+Contento+Site!5e0!3m2!1sen!2sus!4v1504567157333' width='600' height='450' frameborder='0' style='border:0' allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>

  <section id='where-to-stay' class='wedding-section'>
    <div class='wedding-section-content'>
      <div class='md-display-3 u-Satisfy'>Where to Stay</div>
      <p class='md-subhead-1'>
        We recommend staying at one of the hotels below where a shuttle will take
        you to & from our wedding.
      </p>
      {{#paper-item}}
        <div class='layout-column'>
          <div class='md-headline'>Basic Lodging</div>
          <ul>
            <li>
              <a href='https://www.cloverdalevalleyinn.com/' target='_blank' rel='noopener noreferrer' title='Vineyard Valley Inn'>Vineyard Valley Inn</a>, call to book (707.894.9119).
            </li>
            <li>
              <a href='http://cloverdalewinecountryinn.com/' target='_blank' rel='noopener noreferrer' title='Cloverdale Wine Country Inn & Suites'>Cloverdale Wine Country Inn & Suites</a>, room block available under either Chris or Amanda for $159/night until 4/1/18, call to book (707.894.7500).
            </li>
            <li>
              <a href='https://www.thatcherhotel.com' target='_blank' rel='noopener noreferrer' title='Thatcher Hotel'>Thatcher Hotel</a>, opening in December 2017.
            </li>
          </ul>
        </div>
      {{/paper-item}}
      {{#paper-item}}
        <div class='layout-column'>
          <div class='md-headline'>Bed & Breakfast</div>
          <ul>
            <li>
              <a href='http://winegardeninn.com/' target='_blank' rel='noopener noreferrer' title='Kelly & Young Wine Garden Inn'>Kelly & Young Wine Garden Inn</a>
            </li>
            <li>
              <a href='http://www.sonomabedbreakfastinnwinecountry.com/' target='_blank' rel='noopener noreferrer' title='Auberge on the Vineyard'>Auberge on the Vineyard</a>
            </li>
          </ul>
        </div>
      {{/paper-item}}
      <p class='md-subhead-1'>
        If you decide to drive instead of taking the shuttles there are a few more areas you could stay in addition to Cloverdale and Hopland
      </p>
      {{#paper-item}}
        <div class='layout-column'>
          <div class='md-headline'>Healdsburg</div>
          <div class='md-subhead'>Beautiful wine country 35 minutes south of venue.</div>

          <div class='md-headline md-spacing'>Ukiah</div>
          <div class='md-subhead'>15 minutes north of venue.</div>
        </div>
      {{/paper-item}}
    </div>
  </section>

  <section id='welcome-reception' class='wedding-section'>
    <div class='wedding-section-content'>
      <div class='layout-row layout-wrap'>
        <div class='flex-100 flex-gt-xs-50'>
          <div class='md-display-3 u-Satisfy'>Welcome Reception</div>
          <div class='md-headline'>
            June 29, 2018 - Hopland, CA
          </div>
          <p>
            More information coming soon.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id='what-to-do' class='wedding-section'>
    <div class='wedding-section-content'>
      <div class='md-display-3 u-Satisfy'>What to Do</div>
      {{#paper-item}}
        <div class='layout-column'>
          <div class='md-margin'>
            <div class='md-headline'>San Francisco</div>
            <div class='md-margin'>
              <div class='md-title u-bold'>Food</div>
              <div class='md-subhead-1'>
                <ul>
                  <li>
                    Burritos - Pancho Villa Taqueria {{paper-icon 'favorite' primary=true size=16}},
                    Taqueria Cancún, Taqueria El Faralito, Taqueria El Buen Sabor.
                    There are a ton.
                  </li>
                  <li>
                    Mexican - Nopalito
                  </li>
                  <li>
                    Sushi/Japanese - Elephant Sushi {{paper-icon 'favorite' primary=true size=16}},
                    Ryoko's, Shabu House
                  </li>
                  <li>
                    Vietnamese - Turtle Tower, Pho 2000, Miss Saigon
                  </li>
                  <li>
                    Ramen - Hino Deya Ramen
                  </li>
                  <li>
                    Sandwiches - Ike's Place, Deli Board {{paper-icon 'favorite' primary=true size=16}}
                  </li>
                  <li>
                    Salads - Blue Barn, Mixt Greens
                  </li>
                  <li>
                    Fine dining - Rich Table, Al's Place, Spruce, Californios,
                    Outerlands, Foreign Cinema, Kokkari Estiatorio
                  </li>
                  <li>
                    Pizza - Tony's Pizza Napoletana {{paper-icon 'favorite' primary=true size=16}},
                    Little Star Pizza, Jersey Pizza
                  </li>
                  <li>
                    German - Suppenküche, Leopold's
                  </li>
                  <li>
                    Dessert - Humphrey Slocombe, Ghiradelli, Bi-rite Creamery,
                    Salt & Straw
                  </li>
                  <li>
                    Donuts - Bob's Donuts {{paper-icon 'favorite' primary=true size=16}},
                    Dynamo Donuts
                  </li>
                  <li>
                    Breakfast - Craftsman & Wolves
                  </li>
                  <li>
                    Burgers - In-N-Out Burger, Roam Burger, Umami Burger, Popson's Burgers, Naked Lunch
                  </li>
                  <li>
                    Soul food - Brenda’s, Little Skillet
                  </li>
                  <li>
                    Indian - Dakshin, Dosa, Shalimar
                  </li>
                  <li>
                    Other Asian - Rooster & Rice {{paper-icon 'favorite' primary=true size=16}}, Burma Superstar
                  </li>
                  <li>
                    BBQ - meh, not good here
                  </li>
                </ul>
              </div>
            </div>
            <div class='md-margin'>
              <div class='md-title u-bold'>Beer</div>
              <div class='md-subhead-1'>
                <ul>
                  <li>
                    Bars - Liquid Gold {{paper-icon 'favorite' primary=true size=16}},
                    City Beer Store, Blackhorse London Pub, Upcider
                  </li>
                  <li>
                    Breweries - Barebottle {{paper-icon 'favorite' primary=true size=16}},
                    Almanac Tap Room, Cellarmaker, Rare Barrel, Fieldwork,
                    Cleophus Quealy, Triple Voodoo
                  </li>
                </ul>
              </div>
            </div>
            <div class='md-margin'>
              <div class='md-title u-bold'>Coffee</div>
              <div class='md-subhead-1'>
                <ul>
                  <li>
                    Saint Frank {{paper-icon 'favorite' primary=true size=16}}, Blue Bottle,
                    Wrecking Ball, Philz, Sightglass, Ritual, Four Barrel, Flywheel,
                    Our Apartment, Cafe Trieste
                  </li>
                  <li>DO NOT GO TO (they suck) - Starbucks, Peets</li>
                </ul>
              </div>
            </div>
            <div class='md-margin'>
              <div class='md-title u-bold'>Places</div>
              <div class='md-subhead-1'>
                <ul>
                  <li>
                    Museums - California Academy of Sciences, Exploratorium
                  </li>
                  <li>
                    Art - SF MOMA, de Young, Palace of Fine Arts
                  </li>
                  <li>
                    Hiking - Land's End, Sutro Baths, Muir Woods, Twin Peaks
                  </li>
                  <li>
                    Misc. - Golden Gate Bridge, Golden Gate Park, Pier 39 (seals),
                    Fisherman's Wharf, Ferry Building
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class='md-margin'>
            <div class='md-headline'>Santa Rosa, Napa, Sonoma, Healdsburg, Sebastapol</div>
            <div class='md-caption u-bold'>Wine & beer country</div>
            <div class='md-margin'>
              <div class='md-title u-bold'>Food</div>
              <div class='md-subhead-1'>
                <ul>
                  <li>
                    Girl & the Fig, Fremont Diner
                  </li>
                </ul>
              </div>
            </div>
            <div class='md-margin'>
              <div class='md-title u-bold'>Beer</div>
              <div class='md-subhead-1'>
                <ul>
                  <li>
                    Breweries - Crooked Goat {{paper-icon 'favorite' primary=true size=16}},
                    Russian River, HenHouse, Cooperage, Fogbelt
                  </li>
                  <li>
                    Wineries - Saintsbury (need reservation) {{paper-icon 'favorite' primary=true size=16}},
                    Stuhlmuller, Larson Family, Ravenswood, Scribe (need reservation)
                  </li>
                </ul>
              </div>
            </div>
            <div class='md-margin'>
              <div class='md-title u-bold'>Coffee</div>
              <div class='md-subhead-1'>
                <ul>
                  <li>
                    TBD
                  </li>
                </ul>
              </div>
            </div>
            <div class='md-margin'>
              <div class='md-title u-bold'>Places</div>
              <div class='md-subhead-1'>
                <ul>
                  <li>
                    TBD
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      {{/paper-item}}
    </div>
  </section>
{{/paper-content}}
